:root {
  --main-color: #9c27b0;
}

::selection {
  color: white;
  background-color: var(--main-color);
}

.main-layout {
  min-height: 100vh;
}
.center {
  text-align: center;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: var(--main-color);
}

.ant-btn:hover,
.ant-btn:active,
.ant-btn:focus {
  color: var(--main-color);
  border-color: var(--main-color);
}

button {
  margin-right: 1em;
}

@media (max-width: 767px) {
  button > span {
    display: none !important;
  }
}
